name: Playwright Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  playwright:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/python:v1.56.0-noble

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run your tests
        run: |
          pytest --alluredir=reports/allure-results
